Tailwind utility-first css framework, building User friendly website and applications
Pros - predefined css classes 
Utility clases are simple html classes typically scoped to focus on single and specific css property. [text-primary / BS & text-[#fffa12] TW] more specific 

Compare BS and TW
Popular - Both
Level classes - High vs low



Great customizable compare to bootstrap , BS as a foundation css framework use classes directly contact with components like alerts, cards and navbars - but tailwind css uses classes as utilities to put together to build your own custom components.

All css inside class helps in reducing css file size.
layouts create easy and fast.

Prerequistics - Basic Css Knowledge

Goal is to write not copy code.

----------------------------------------------
Vs code for editor
Nodejs is needed if your are using through npm

Installation:
open terminal / ctrl + ` [bash]
npm init - npm initialize - Create package.json file 




----------------------------------------------

https://blog.logrocket.com/css-utility-classes-library-extendable-styles/
https://www.frontendmentor.io/

----------------------------------------------

---------------
Tailwind Css
---------------
Cdn + Html
Installation + React 

Utility First , Mobile First
Its Bs with flexible customization

https://www.tailbits.com/  
https://kitwind.io/products/kometa/components/headers 
https://tailgrail.com/tailwind/dashboard 
https://www.hyperui.dev/ 
https://tailwindflex.com/diego-chavez/join-our-community-banner 

Colors - TW
BW-TOP-GRIP-BY
Opacity [100 to 900]
bg- , border-

Sizing - TW:
w-4 [1rem] , w-full , w-screen [100% viewport]
[0 to 12 , 14 , 16 , 20 , … , 64 , 72 , 80, 96]
 n/12
Height also h-value

Spacing - TW:
px , py , mt , mb , pr , pl , px-[attribute value]



